

/* INICIO MEDIA QUERIES 600PX Y 900PX */

@media (min-width: 600px) {
    .grid-container {
      grid-template-columns: auto;
      grid-template-rows: 150px auto 200px;
      grid-template-areas: 
      "header"      
      "main"      
      "footer";        
    }   
    /*-------------------------------------*/ 
       
  }

/*-------------------------------------*/
  
@media (min-width: 900px) {
            
    }           
    /*-------------------------------------*/    
      


/* FIN MEDIA QUERIES 600PX Y 900PX */

/* ANIMACION TAZA */


