.cup {
  position: relative;
  width: 220px;
  height: 180px;
  border: 8px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url("../images/coffeelogo.png");
  background-repeat: repeat-x;
  background-position: 0 130px;
  -webkit-animation: filling 4s infinite;
          animation: filling 4s infinite;
  margin-top: 150px;
}

@-webkit-keyframes filling {
  0%, 100% {
    background-position: 0 130px;
  }
  50% {
    background-position: 600px -70px;
  }
}

@keyframes filling {
  0%, 100% {
    background-position: 0 130px;
  }
  50% {
    background-position: 600px -70px;
  }
}
.cup .cup-handle {
  position: absolute;
  top: 10px;
  right: -74px;
  width: 65px;
  height: 120px;
  border: 12px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.cup .steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 8px;
  -webkit-animation: steaming 2s infinite;
          animation: steaming 2s infinite;
}

@-webkit-keyframes steaming {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: blur(0.8px);
    transform: translateY(-10px);
  }
}

@keyframes steaming {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: blur(0.8px);
    transform: translateY(-10px);
  }
}
.cup .steam:nth-child(1) {
  top: -70px;
  left: 65px;
  height: 30px;
  background: #bbb5af;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.cup .steam:nth-child(2) {
  top: -120px;
  left: 95px;
  height: 50px;
  background: #bbb5af;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.cup .steam:nth-child(3) {
  top: -90px;
  left: 125px;
  height: 40px;
  background: #bbb5af;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.foto-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto Serif";
  font-size: 1.2rem;
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cafemovil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grid-container > * {
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template: "header" 150px "main" auto "footer" 200px;
}

.header {
  grid-area: header;
  font-size: 25px;
  color: #ffffff;
}

.header__logo img {
  height: 100px;
  width: 100px;
}

.header__span {
  color: #FEA116;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #FEA116;
}

.main {
  grid-area: main;
  background-color: transparent;
}

main {
  color: #ffffff;
}

.titulo {
  font-family: "Dancing Script";
  font-size: 90px;
  color: #ffffff;
}

.section-heading-upper {
  color: #FEA116;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.section-heading-lower {
  font-size: 3rem;
  font-weight: 100;
  color: #000;
}

.intro {
  margin-bottom: 5rem;
}

.bg-faded {
  background-color: #f6e1c5;
}

.bg-faded p {
  color: #000;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
  box-sizing: border-box;
}

.cta .row {
  margin: 0;
}

label {
  color: #bbb5af;
  font-size: 20px;
}

input {
  font-size: 16px;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: #ffffff;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

input::input-placeholder, textarea::input-placeholder {
  color: #aca49c;
  font-size: 16px;
}

input:focus::input-placeholder, textarea:focus::input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 16px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aca49c;
  font-size: 16px;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 16px;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #bbb5af;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #bbb5af;
}

/* hover en placeholder */
input:hover::input-placeholder, textarea:hover::input-placeholder {
  color: #e2dedb;
  font-size: 16px;
}

input:hover:focus::input-placeholder, textarea:hover:focus::input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 16px;
}

input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 16px;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 16px;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover:focus:-ms-input-placeholder, textarea:hover:focus:-ms-input-placeholder {
  color: #cbc6c1;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

.carousel-inner {
  box-shadow: 6px 6px 4px #000;
}

.card {
  box-shadow: 6px 6px 4px #000;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  box-shadow: 12px 12px 8px #000;
}

.foto-main {
  grid-area: img1;
}

.producto__info .descripcion {
  font-size: 20px;
}

.producto__info ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 5px;
}

.card .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #FEA116;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .buy {
  top: 0;
  opacity: 1;
}

h1 {
  color: #FEA116;
}

h3 {
  color: #FEA116;
}

.text-primary {
  color: #FEA116 !important;
}

.titulo-2 {
  color: #fff;
}

.texto-1 {
  color: #fff;
}

.border-start {
  border-left-color: #FEA116 !important;
}

@media (max-width: 770px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 150px auto 200px;
    grid-template-areas: "header" "main" "footer";
  }
  .card .buy {
    position: relative;
    top: 0;
    opacity: 1;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #FEA116;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /*-------------------------------------*/
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 150px auto 200px;
    grid-template-areas: "header" "main" "footer";
  }
}
.footer {
  grid-area: footer;
}/*# sourceMappingURL=styles.css.map */