label {
    color: map-get($contactoColor, etiquetaColorPrincipal);
    font-size: 20px;
}
input {
    font-size: 16px;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: #ffffff;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    }
    
    input:hover {
    background: #b3aca7;
    color: map-get($contactoColor, etiquetaColorHoverPrincipal);
    }

input::input-placeholder, textarea::input-placeholder {
    color: map-get($contactoColor, etiquetaColorSecundario);
    font-size: 16px;
}

input:focus::input-placeholder, textarea:focus::input-placeholder {
    color: map-get($contactoColor, etiquetaColorPrincipal);
}

input::placeholder, textarea::placeholder {
    color: map-get($contactoColor, etiquetaColorSecundario);
    font-size: 16px;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: map-get($contactoColor, etiquetaColorPrincipal);
}
  
/* hover en placeholder */

input:hover::input-placeholder, textarea:hover::input-placeholder {
    color: map-get($contactoColor, etiquetaColorHoverPrincipal);
    font-size: 16px;
}

input:hover:focus::input-placeholder, textarea:hover:focus::input-placeholder {
    color: map-get($contactoColor, etiquetaColorHoverSecundario);
}

input:hover::placeholder, textarea:hover::placeholder {
    color: map-get($contactoColor, etiquetaColorHoverPrincipal);
    font-size: 16px;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: map-get($contactoColor, etiquetaColorHoverSecundario);
}


