.header {
    grid-area: header;    
    background-color: transparent;    
    font-size: 25px;
    color: #ffffff;    
}
.header__logo {
    @include flex($align: center, $height: 100px, $width:100px)
}

.header__span {
    color: map-get($links, linkHoverColor);
}
.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: map-get($links, linkHoverColor);
}

