$links: (
    linkHoverColor: #FEA116,
);

$font: (
    primaryFont: 'Roboto Serif',
    secondaryFont : 'Dancing Script',
);

$contactoColor: (
    etiquetaColorPrincipal: #bbb5af,
    etiquetaColorSecundario: #aca49c,
    etiquetaColorHoverPrincipal: #e2dedb,
    etiquetaColorHoverSecundario: #cbc6c1,
);

