$links: (
    linkHoverColor: #B39980,
);

$font: (
    primaryFont: 'Roboto', sans-serif,
);

$contactoColor: (
    etiquetaColorPrincipal: #bbb5af,
    etiquetaColorSecundario: #aca49c,
    etiquetaColorHoverPrincipal: #e2dedb,
    etiquetaColorHoverSecundario: #cbc6c1,
);

